@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.toast-container {
	z-index: 10000000000000000;
	font-family: "Poppins", sans-serif;
	/* background-color: red; */
	border: 2px dashed #f9ffff;
	border: 2px dashed #4442;
	border-radius: 5px;
	position: fixed;
	left: 1em;
	bottom: 1em;
	/* width: max-content; */
	padding: 0.25em 0.25em;
}


.toast {
  position: relative;
  width: 18rem;
  color: #444c;
  font-size: 0.95rem;
}

.toast-header {
  text-transform: capitalize;
  width: 100%;
  align-items: center;
}

.toast-success {
  background-color: #f9ffff;
  color: #5ee78d;
}

.toast-warning {
  background-color: #fffff9;
  color: #ffc107;
}

.toast-danger {
  background-color: #fff9ff;
  color: #dc3545;
}

.toast-info {
  background-color: #f9f9ff;
  color: #0dcaf0;
}

.toast-header strong {
  font-size: 1.15rem;
  font-weight: 600;
  padding-left: 0.25em;
}

.toast-header small {
  color: #444a;
}

.toast-header button {
  font-size: 1.25rem;
  font-weight: bold;
  color: #444a;
}